---
layout: default
---
{% assign category = site.data.categories | where: 'id', page.category | first %}
<article>
  <header class="page-header">
    {% include breadcrumbs.html category=category topic=page.topic %}
    <h1>{{ page.title | escape }}</h1>
    {% if page.description %}<p class="lead">{{ page.description | escape }}</p>{% endif %}
    {% if page.tags.size > 0 %}<p class="tags">{% for tag in page.tags %}<span>{{ tag | escape }}</span>{% endfor %}</p>{% endif %}
  </header>
  <div class="prose">{{ content }}</div>
</article>
